<div style="position: absolute; left: 50%; top: 50%;" class="outter">
        <div class="inner">
          <div class="jumbotron text-center">
              <h2><strong>Invalid url !!!</strong>
                  <hr>
                <small>
                    The page you requestred was not found, click this 
                    <a routerLink='/'><strong>link</strong></a> 
                    to go to home page
                </small>
              </h2>
                  
          </div>
        </div>
</div>